.MenuCabecera{
    background-color: #aadae6 ;
    width: 100%;
}
*{
    margin: 0;
    padding: 0;
}
.banner{   
background-image: url(../css/imagenes/img.jpg);
 width: 100%;
height: 1070px;
background-repeat: no-repeat;
background-size: 100%;
background-position: y 10%;
}
.cajacolumnas{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}
.columnas{
    flex: 1;
    border: 1px;
    text-align: center;
}
.ColorVerde{
    background-color: rgb(15, 116, 12);
}
.ColorNaranja{
    background-color: rgb(139, 12, 156);
}
.ColorEsmeralda{
    background-color: aquamarine;
}
.ramdom{
    background-color: blue;
    width: 100%;
    height: 120px;
}
.MenuSuperior li{
    display: inline;
    padding: 5px;
    border-right: solid 2px black;
}
.MenuSuperior{
text-transform: uppercase;
font-weight: bold;
text-align: right;
padding: 20px;
padding-top: 15px;
}
li a:hover{
    color: #e2430c;
    background-color: #02506e;
    text-decoration: underline;
}
li a{
    text-decoration: none;
}
.MenuSuperior li:last-child{
    border-right: none;
}
